@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/SegoeUI.woff2') format('woff2'),
    url('./fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('./fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('./fonts/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('./fonts/SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Magnolia Script';
    src: url('./fonts/Magnolia-Script.woff2') format('woff2'),
    url('./fonts/Magnolia-Script.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'),
    url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Semibold.woff2') format('woff2'),
    url('./fonts/Poppins-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

