.header{
    background-size: cover;
    width:100%;

    .header__body{
        width:100%;
        max-width: 1400px;
        padding: 30px;
        margin: auto;
        box-sizing: border-box;
    }
}