  @font-face {
    font-family: 'EuropeExt Bold';
    src: url('../fonts/EuropeExtBold.eot');
    src: url('../fonts/EuropeExtBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EuropeExtBold.woff') format('woff'),
    url('../fonts/EuropeExtBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }