.special-offer{
.headerSpecialOffer {
    height: 818px;
    position: relative;
}

.headerSpecialOffer {
    background: radial-gradient(72.85% 59.35% at 0% 46.77%, #4E6368 0%, #0A0F11 98.22%);
    background-repeat: no-repeat;
    width: 100%;
}

.header-specail-offer {
    width: 100%;
    height: 64px;
    background: linear-gradient(90deg, #159FD2 39.48%, #024381 93.96%);
}

.headerSpecialOfferSummer {
    background: url(../images/avs-special-offer/back-summer-offer.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 818px;
    position: relative;
    top: -25px;
    background-position-x: 50%;
}

.line-mobile {
    background-image: url(../images/avs-special-offer/background-line.png);
    height: 745px;
    width: 1300px;
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 35px;
  }

  .mainButton {
    border-radius: 28px;
  }

.blockButton {
    width: 24px;
    display: inline-block;
  }

.content-header {
    position: absolute;
    bottom: 0;
    display: flex;
    .snowflakes-header {
        height: 777px;
        width: 50vw;
        background-size: contain;
        position: absolute !important;
        top: -100px;
        background-image: url(../images/avs-special-offer/snowflakes-special-offer.png);
        background-repeat: no-repeat;
        z-index: 1;
        background-position-y: 50%;
    }
    .back-summer-header {
        height: 777px;
        width: 40vw;
        background-size: contain;
        position: absolute !important;
        top: -80px;
        background-image: url(../images/avs-special-offer/summer-back-special-offer.svg);
        background-repeat: no-repeat;
        z-index: 1;
        background-position-y: 50%;
        left: 20px;
    }
    .multimedia-header {
        width: 50vw;
        height: 700px;
        background-size: contain;
        background-image: url(../images/avs-special-offer/box-special-offer.png);
        z-index: 2;
        background-repeat: no-repeat;
        position: relative;
        background-position-y: 50%;
        font-family: 'Montserrat', sans-serif;
    }

    .multimedia-header-summer {
        width: 50vw;
        height: 700px;
        background-size: contain;
        background-image: url(../images/avs-special-offer/product-summer.png);
        z-index: 2;
        background-repeat: no-repeat;
        position: relative;
        background-position: 50%;
        font-family: 'Montserrat', sans-serif;
        top: -70px;
        left: 20px;
    }

    .textMultiHeader-summer {
        color: #FFE600;
        background: transparent;
        font-family: 'Montserrat', sans-serif;
    }

.text-header {
    position: relative;
    margin-left: 50px;
    padding: 0 40px 0 0;
    .textHeader {
        background: linear-gradient(to bottom, #EA1313, #AF0B0E);
        background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EA1313;
        font-family: 'Montserrat', sans-serif;
      }

      
    .textHeader-summer {
        color: #FFE600;
        background: transparent;
        font-family: 'Montserrat', sans-serif;
    }
      
    
    .text-header-avs {
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
    }

    .text-grab {
        margin-left: 70px;
    }

    .textSpecial {
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    .logo-offer {
        background-image: url(../images/avs-special-offer/logo-special-offer.png);
        height: 135px;
        width: 142px;
        position: absolute;
        top: -52px;
        left: -155px;
    }

    .logo-summer-offer {
        background-image: url(../images/avs-special-offer/logo-special.svg);
        height: 135px;
        width: 142px;
        position: absolute;
        top: -1px;
        left: -146px;
        background-repeat: no-repeat;
    }

    .headerButton {
        margin: 50px 0 24px 0;
    }

    .headerButtonSummer {
        margin: 50px 0 50px 0;
        padding: 10px 30px;
        border-radius: 28px;
        background: #FFE600;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

        a {
            color: #013A47;
            font-weight: 700;
        }
    }

    .bodyGrab {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    .bodyOff {
        position: relative;
        font-style: bolt;
        margin-left: 50px;
        margin-top: -30px;
        align-items: flex-start;
        font-family: 'Montserrat', sans-serif;
        .text-off {
            font-size: 80px;
            line-height: 143px;
            font-family: 'Montserrat', sans-serif;
        }
        .letter-off {
            font-size: 40px;
            text-transform: uppercase;
            top: 37px;
            right: 113px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
    }
    }
}

.text-avs {
    display: flex;
    align-items: baseline;
}

.text-header-avs {
    padding-right: 20px;
}

    .bodyWrapper{
        max-width: 1120px;
        margin:auto;
        padding: 0 20px;
        text-align: center;

        .backToHome{
            display:block;
            text-align: center;
        }

        h1 {
            background: linear-gradient(to bottom, #EA1313, #AF0B0E);
            background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #EA1313;
          }
    }
    .yourSteps{
        padding-top: 24px;
        padding-bottom:140px;
    }

    .common__heading{
        padding-bottom:24px;
        padding-top: 64px;
    }

    .mainImage{
        margin: auto;
        display: block;
        padding-top:110px;
    }

    .text-red {
        background: linear-gradient(to bottom, #EA1313, #AF0B0E);
        background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EA1313;
    }

    .text-line-through {
        text-decoration: line-through;
    }

    .ListTitle {
        padding-bottom: 16px;
    }

    .bodyHeader {
        margin-top: 90px;
    }

    .mainBodyTitle {
        padding: 8px 0;
    }

    .specialButton {
        margin: 54px 0;
    }

    .specialButtonSummer {
        margin: 50px 0 24px 0;
        padding: 10px 30px;
        border-radius: 28px;
    }

    .style-button {
        text-decoration: none;
        color: #fff;
    }

    .mainHeaderComment {
        text-transform: none !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }

    .buttonsWrapper {
        padding-top: 44px !important;
    }

    .full-pack {
        margin-bottom: 150px;
    }

    .why-choose {
        margin:auto;
        text-align: center;
        position: relative;
        background-image: url(../images/avs-special-offer/line-why-choose-block.png);
        height: 440px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        margin-bottom: 100px;

        .choose-background {
            margin: auto;
        }

        h1 {
            background: linear-gradient(to bottom, #EA1313, #AF0B0E);
            background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #EA1313;
          }

          .block-choose {
            max-width: 1120px;
            margin: auto;
            text-align: center;
          }
        
          .choose-item {
            display: inline-block;
            width: 200px;
            height: 150px;
            vertical-align: top;
            padding: 0 20px;
          }
        
          .list-choose {
            margin-bottom: 50px;
            position: absolute;
            top: 170px;
          }
        
          .choose-text {
            padding-top: 16px;
          }
        
          .choose-title { 
            margin-bottom: 50px;
          }
    }
}

@media (min-width: 1921px) {
    .multimedia-header-summer {
        background-position: 100%;
    }

    .back-summer-header {
        background-position: 100%;
    }

    .headerSpecialOfferSummer {
        background: linear-gradient(111.38deg, #27A9E1 -16.26%, #0194C0 41.72%, #024381 93.97%) !important;
        top: 0px !important;
    }

    .headerSpecialOffer {
        background: radial-gradient(117.07% 95.37% at 0% 46.77%, #4E6368 0%, #0A0F11 98.22%) !important;
    }
}

@media (max-width: 1289px) {
    .why-choose {
        background-image: none !important;
    }

    .headerButton {
        margin: 6px 0 10px 0 !important;
    }
}

@media (max-width: 1024px) {

    .headerSpecialOffer {
        height: 700px !important;
    }

    .ListTitle {
        font-size: 16px !important;
    }

    .snowflakes-header {
        background-image: url(../images/avs-special-offer/snowflakes-tablet-special-offer.png) !important;
        top: 100px !important;
        right: 100px !important;
        background-size: auto !important;
        width: 100% !important;
        height: 581px !important;
    }

    .multimedia-header {
        background-image: url(../images/avs-special-offer/box-tablet-special-offer.png) !important;
        margin-top: -53px;
    }

    .multimedia-header-summer {
        top: 0 !important;
        left: 0 !important;
    }

    .back-summer-header {
        background-position-y: 100% !important;
    }

    .text-header-summer {
        margin-top: 100px;
    }

    .content-header {
        position: relative !important;
        padding-top: 30px;
    }

    .textHeader, .textHeader-summer {
        margin-left: 0 !important;
    }

    .text-header {
        margin-left: 0 !important;
        max-width: 500px;
    }

    .line-mobile {
        background-image: url(../images/avs-special-offer/line-tablet-offer.png) !important;
        height: 700px !important;
        width: 700px !important;
        right: 30px;
        top: 35px;
      }

    .logo-offer {
        background-size: 108px;
        background-repeat: no-repeat;
        top: 6px !important;
        left: -74px !important;
    }

    .logo-summer-offer {
        background-size: 108px;
        background-repeat: no-repeat;
        top: 43px !important;
        left: -74px !important;
    }

    .precent-off {
        margin-bottom: -20px !important;
        font-size: 130;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .textSpecial {
        font-size: 26px !important;
        margin: 45px 0px 20px 44px !important;
    }

    .bodyGrab {
        font-size: 50px !important;
    }

    .full-pack {
        margin-bottom: 0 !important;
    }

    .mainHeaderComment {
        font-size: 10px !important;
        padding: 10px 0;
    }

    .textMultiHeader, .textMultiHeader-summer {
        font-size: 32px !important;
    }
}

@media (max-width: 768px) {

    .headerSpecialOfferSummer {
        background: linear-gradient(111.38deg, #27A9E1 -16.26%, #0194C0 41.72%, #024381 93.97%) !important;
    }

    .headerSpecialOffer {
        background: radial-gradient(117.07% 95.37% at 0% 46.77%, #4E6368 0%, #0A0F11 98.22%) !important;
    }

    .back-summer-header {
        height: 0px !important;
    }

    .text-header {
        padding: 0 !important;
    }

    .headerSpecialOfferSummer {
        top: -1px !important;
        height: auto !important;
    }

    .text-grab {
        margin-left: 0 !important;
    }

    .multimedia-header {
        margin-top: 0 !important;
    }
}

@media (max-width: 723px) {
    .choose-item {
        width: 112px !important;
        height: 100px !important;
        margin-top: 30px;
    }

    .icon-mobile {
        height: 60px !important;
    }

    .list-choose {
        margin-bottom: 50px;
        position: absolute;
        top: 100px !important;
    }

    .awards-text {
        font-size: 18px !important;
    }

    .why-choose {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 500px) {

    .content-header {
        position: relative !important;
        display: block !important;
    }

    .line-mobile {
        background-image: url(../images/avs-special-offer/mobile-header.png) !important;
        height: 332px !important;
        width: 100% !important;
        background-repeat: no-repeat;
        position: absolute;
        background-position-x: 50%;
        top: 25px !important;
        right: 0 !important;
        background-size: 90% !important;
    }

    .text-header {
        margin-left: 0 !important;
        padding: 0 !important;
    }

    .text-grab {
        margin-left: 50px !important;
        margin-top: 40px;
    }
    .bodyHeader {
        font-size: 28px !important;
    }

    .headerButton {
        display: none !important;
    }

    .logo-offer {
        left: 0 !important;
        top: 3px !important;
    }

    .logo-summer-offer {
        left: 10px !important;
        top: -2px !important;
        background-size: 100px !important;
    }

    .text-off {
        font-size: 40px !important;
    }

    .letter-off {
        font-size: 23px !important;
    }

    .text-header-avs {
        font-size: 18px !important;
    }

    .textMultiHeader, .textMultiHeader-summer {
        font-size: 28px !important;      
    }

    .textHeader, .textHeader-summer {
        font-size: 28px !important;
    }

    .headerButtonSummer {
        display: none !important;
    }

    .text-header-avs {
        padding-right: 10px !important;
    }

    .textSpecial {
        margin-left: 119px !important;
        margin-bottom: 0 !important;
        font-size: 23px !important;
        margin-top: 41px !important;
    }

    .bodyGrab {
        font-size: 45px !important;
    }

    .mainBodyTitle {
        font-size: 16px !important;
    }

    .mainBodyComment {
        font-size: 13px !important;
    }

    .specialButton {
        margin: 20px 0 !important;
        display: table !important;
    }

    .special-buttons {
        margin: auto;
        display: table;
    }

    .blockButton {
        display: none !important;
    }

    .ListTitle {
        font-size: 15px !important;
        text-align: center;
    }

    .ListItem {
        font-size: 13px !important;
    }

    .headerSpecialOffer {
        height: 772px !important; 
    }

    .multimedia-header {
        height: 391px !important;
        background-image: url(../images/avs-special-offer/box-mobile-special-offer.png) !important;
        position: absolute !important;
        z-index: 2 !important;
        top: 400px !important;
        right: 0px !important;
        width: 367px !important;
    }

    .multimedia-header-summer {
        display: none;
    }

    .multimedia-header-summer-mobile {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-image: url(../images/avs-special-offer/product-summer.png);
        z-index: 2;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .text-header-summer {
        margin-top: 0px !important;
    }

    .precent-off {
        font-size: 90px !important;
        margin-top: 28px !important;
    }

    .bodyOff {
        margin-top: -52px !important;
        margin-left: 80px !important;
    }

    .snowflakes-header {
        background-image: url(../images/avs-special-offer/snowflakes-mobile-special-offer.png) !important;
        height: 399px !important;
        right: -55px !important;
        width: 483px !important;
        top: 375px !important;
    }

    .mainHeaderComment {
        font-size: 10px !important;
        text-transform: none !important;
        padding: 15px 0 !important;
    }

    .logo-offer {
        top: 0px !important;
    }

    .bodyHeader {
        padding: 0 16px;
    }

    .button-mobile {
        display: none !important;
    }

    .choose-item {
        width: 112px !important;
        padding: 0 !important;
        height: 100px !important;
    }

    .icon-mobile {
        height: 40px !important;
    }

    .list-choose {
        margin-bottom: 50px;
        position: absolute;
        top: 100px !important;
    }

    .awards-text {
        font-size: 13px !important;
    }

    .why-choose {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 350px) {
    .multimedia-header {
        background-size: 80% !important;
        background-position-x: 75% !important;
    }

    .snowflakes-header {
        background-size: 90% !important;
        right: -110px !important;
    }
}