.special-offer{
    .headerSpecialOffer {
        height: 818px;
        position: relative;
    }
    
    .headerSpecialOffer {
        background: radial-gradient(72.85% 59.35% at 0% 46.77%, #4E6368 0%, #0A0F11 98.22%);
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .header-specail-offer {
        width: 100%;
        height: 64px;
        background: linear-gradient(90deg, #159FD2 39.48%, #024381 93.96%);
    }
    
    .headerSpecialOfferSummer {
        background: url(../images/avs-special-offer/back-summer-offer.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 818px;
        position: relative;
        top: -25px;
        background-position-x: 50%;
    }

    .headerSpecialOfferHalloween {
        background: radial-gradient(87.6% 78.93% at 30.39% 50%, #953FFF 4.28%, #9358DB 18.13%, #5B318F 44.15%, #351A5C 98.22%);
        width: 100%;
        height: 818px;
        position: relative;
        .content-header {
            height: 100%;
            align-items: center;
            background-image: url(../images/avs-special-offer/bg-header-left.png), url(../images/avs-special-offer/bg-header-right.png), url(../images/avs-special-offer/bg-halloween-left.png), url(../images/avs-special-offer/bg-halloween-right.png);
            background-position-x: 0%, 100%, 0%, 100%;
            background-repeat: no-repeat;
            position: relative;

            .multimedia-header {
                background-image: url(../images/avs-special-offer/multimedia-full-pack.png);
                margin-left: 50px;
                width: 45vw !important;
                background-position-x: 100%;
            }
        }
    }
    
    .line-mobile {
        background-image: url(../images/avs-special-offer/background-line.png);
        height: 745px;
        width: 1300px;
        background-repeat: no-repeat;
        position: absolute;
        right: 30px;
        top: 35px;
      }
    
      .mainButton {
        border-radius: 28px;
      }
    
    .blockButton {
        width: 24px;
        display: inline-block;
      }
    
    .content-header {
        position: absolute;
        bottom: 0;
        display: flex;
        .snowflakes-header {
            height: 777px;
            width: 50vw;
            background-size: contain;
            position: absolute !important;
            top: -100px;
            background-image: url(../images/avs-special-offer/snowflakes-special-offer.png);
            background-repeat: no-repeat;
            z-index: 1;
            background-position-y: 50%;
        }
        .back-summer-header {
            height: 777px;
            width: 40vw;
            background-size: contain;
            position: absolute !important;
            top: -80px;
            background-image: url(../images/avs-special-offer/summer-back-special-offer.svg);
            background-repeat: no-repeat;
            z-index: 1;
            background-position-y: 50%;
            left: 20px;
        }
        .multimedia-header {
            width: 50vw;
            height: 700px;
            background-size: contain;
            background-image: url(../images/avs-special-offer/box-special-offer.png);
            z-index: 2;
            background-repeat: no-repeat;
            position: relative;
            background-position-y: 50%;
            font-family: 'Montserrat', sans-serif;
        }
    
        .multimedia-header-summer {
            width: 50vw;
            height: 700px;
            background-size: contain;
            background-image: url(../images/avs-special-offer/product-summer.png);
            z-index: 2;
            background-repeat: no-repeat;
            position: relative;
            background-position: 50%;
            font-family: 'Montserrat', sans-serif;
            top: -70px;
            left: 20px;
        }
    
        .textMultiHeader-summer {
            color: #FFE600;
            background: transparent;
            font-family: 'Montserrat', sans-serif;
        }
    
    .text-header {
        position: relative;
        margin-left: 50px;
        padding: 0 40px 0 0;
        .textHeader {
            background: linear-gradient(to bottom, #EA1313, #AF0B0E);
            background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #EA1313;
            font-family: 'Montserrat', sans-serif;
          }
    
          
        .textHeader-summer {
            color: #FFE600;
            background: transparent;
            font-family: 'Montserrat', sans-serif;
        }
          
        
        .text-header-avs, .text-de-special {
            font-size: 24px;
            text-transform: uppercase;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
        }
    
        .text-grab {
            margin-left: 70px;
        }
    
        .textSpecial {
            text-transform: uppercase;
            margin-bottom: 50px;
        }
    
        .logo-offer {
            background-image: url(../images/avs-special-offer/logo-special-offer.png);
            height: 135px;
            width: 142px;
            position: absolute;
            top: -51px;
            left: -154px;
        }
    
        .logo-summer-offer {
            background-image: url(../images/avs-special-offer/logo-special.svg);
            height: 135px;
            width: 142px;
            position: absolute;
            top: -1px;
            left: -146px;
            background-repeat: no-repeat;
        }
    
        .headerButton {
            margin: 50px 0 24px 0;
            padding: 13px 0px !important;
        }
    
        .headerButtonSummer {
            margin: 50px 0 50px 0;
            padding: 10px 30px;
            border-radius: 28px;
            background: #FFE600;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    
            a {
                color: #013A47;
                font-weight: 700;
            }
        }
    
        .bodyGrab {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }
    
        .bodyOff {
            position: relative;
            font-style: bolt;
            margin-left: 50px;
            margin-top: -30px;
            align-items: flex-start;
            font-family: 'Montserrat', sans-serif;
            .text-off {
                font-size: 80px;
                line-height: 143px;
                font-family: 'Montserrat', sans-serif;
            }
            .letter-off {
                font-size: 40px;
                text-transform: uppercase;
                top: 37px;
                right: 113px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
            }
        }
        }
    }
    
    .text-avs {
        display: flex;
        align-items: baseline;
    }
    
    .text-header-avs, .text-de-special {
        padding-right: 20px;
    }
    
        .bodyWrapper{
            max-width: 1120px;
            margin:auto;
            padding: 0 20px;
            text-align: center;
    
            .backToHome{
                display:block;
                text-align: center;
            }
    
            h1 {
                background: linear-gradient(to bottom, #EA1313, #AF0B0E);
                background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #EA1313;
              }
        }
        .yourSteps{
            padding-top: 24px;
            padding-bottom:140px;
        }
    
        .common__heading{
            padding-bottom:24px;
            padding-top: 64px;
        }
    
        .mainImage{
            margin: auto;
            display: block;
            padding-top:110px;
        }
    
        .text-red {
            background: linear-gradient(to bottom, #EA1313, #AF0B0E);
            background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #EA1313;
        }
    
        .text-line-through {
            text-decoration: line-through;
        }
    
        .ListTitle {
            padding-bottom: 16px;
        }
    
        .bodyHeader {
            margin-top: 90px;
        }
    
        .mainBodyTitle {
            padding: 8px 0;
        }
    
        .specialButton {
            margin: 54px 0;
            padding: 13px 0px !important;
        }
    
        .specialButtonSummer {
            margin: 50px 0 24px 0;
            padding: 10px 30px;
            border-radius: 28px;
        }
    
        .style-button {
            text-decoration: none;
            color: #fff;
            padding: 20px 79px!important;
        }
    
        .mainHeaderComment {
            text-transform: none !important;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
        }
    
        .buttonsWrapper {
            padding-top: 44px !important;
        }
    
        .full-pack {
            margin-bottom: 150px;
        }
    
        .why-choose {
            margin:auto;
            text-align: center;
            position: relative;
            background-image: url(../images/avs-special-offer/line-why-choose-block.png);
            height: 440px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            margin-bottom: 100px;
    
            .choose-background {
                margin: auto;
            }
    
            h1 {
                background: linear-gradient(to bottom, #EA1313, #AF0B0E);
                background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #EA1313;
              }

              .whyHalloween {
                background: var(--Linear, linear-gradient(316deg, #4F1B0A 22.91%, #E93D01 38.69%, #F65D07 50.37%, #FE4D01 59.16%, #EE3E01 71.91%, #4F0A0A 87.35%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
              .block-choose {
                max-width: 1120px;
                margin: auto;
                text-align: center;
              }
            
              .choose-item {
                display: inline-block;
                width: 200px;
                height: 150px;
                vertical-align: top;
                padding: 0 20px;
              }
            
              .list-choose {
                margin-bottom: 50px;
                position: absolute;
                top: 170px;
              }
            
              .choose-text {
                padding-top: 16px;
              }
            
              .choose-title { 
                margin-bottom: 50px;
              }
        }

        .halloweenWrapper .bodyHeader-halloween, .text-orange {
            background: radial-gradient(39.68% 57.88% at 50% 20.69%, #FF8C01 0%, #FB7601 38.6%, #F13F01 100%);
            background: -ms-linear-gradient(top, transparent 0%,transparent 50%,transparent 51%,transparent 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 3px 0px rgba(51, 51, 51, 0.15);
            margin-top: 90px;
        }

        .img-halloween {
            position: relative;
        }
        .ghost-one {
            background-image: url(../images/avs-special-offer/ghost-one.png);
            position: absolute;
            width: 148px;
            height: 159px;
            top: 291px;
            left: 305px;
        }

        .ghost-two {
            background-image: url(../images/avs-special-offer/ghost-two.png);
            position: absolute;
            width: 109px;
            height: 161px;
            top: 291px;
            left: 25px;
        }

        .ghost-three {
            background-image: url(../images/avs-special-offer/ghost-three.png);
            position: absolute;
            width: 155px;
            height: 183px;
            top: 0px;
            left: 60%;
        }

        .ghost-four {
            background-image: url(../images/avs-special-offer/ghost-four.png);
            position: absolute;
            width: 152px;
            height: 169px;
            top: 291px;
            right: -75px;
            z-index: 3;
        }

        .ghost-five {
            background-image: url(../images/avs-special-offer/ghost-five.png);
            position: absolute;
            width: 153px;
            height: 181px;
            top: 133px;
            right: -155px;
        }

        .logo-halloween-offer {
            background-image: url(../images/avs-special-offer/logo-halloween.png);
            width: 143px;
            height: 115px;
            position: absolute;
            top: -160px;
            right: 37%;
        }

        .logo-halloween {
            background-image: url(../images/avs-special-offer/halloween.png);
            width: 100%;
            height: 112px;
            position: absolute;
            top: -125px;
            background-repeat: no-repeat;
            background-position-x: 50%;
        }

        .back-halloween-header {
            background-image: url(../images/avs-special-offer/web.png);
            width: 329px;
            height: 168px;
            position: absolute;
            top: -75px;
            left: 110px;
            z-index: 3;
        }

        .text-header-halloween {
            background-image: url(../images/avs-special-offer/vector-grab-up.svg), url(../images/avs-special-offer/vector-grab-bottom.svg);
            background-repeat: no-repeat;
            background-position-y: 0%, 100%;
            width: 625px;
            background-size: contain;
            margin-right: 32px !important;
            .bodyGrab {
                margin-top: 75px;
            }

            .textSpecial {
                text-align: center;
                color: #FFC700;
                margin: 50px 0 32px !important;
            }

            .text-grab {
                margin-left: 40px !important;
                position: relative;
            }

            .text-avs {
                justify-content: center;
                p {
                    color: #FFC700 !important;
                }
            }

            .textMultiHeader-halloween {
                text-align: center;
                color: #FFC700;
                padding-bottom: 44px;
            }

            .button-block {
                text-align: center;
                margin-right: 280px;
            }

            .headerButtonHalloween {
                position: absolute;
                bottom: -27px;
                padding: 0 !important;

                p {
                    display: flex;
                    align-items: center;
                    height: 58px;
                }
            }
        }

        .violet {
            padding: 20px 0px !important;
            border-radius: 5px;
            background: radial-gradient(65.92% 91.38% at 50% 50%, #A45AFF 0%, #943FFE 20.83%, #8D3DF0 57.29%, #542D85 93.23%);
            background-color: #943FFE;
            max-width: 242px;

            &:hover {
                border-radius: 5px;
                background: #943FFE;
                transition: background 2s;
            }

            a {
                padding: 20px 42px!important;
            }
        }

        .halloweenWrapper {

            .bodyHeader-halloween {
                margin-top: 112px;
            }
            .mainBodyTitle {
                padding: 32px 0;
            }

            .mainBodyComment {
                padding-bottom: 64px;
            }

            .special-buttons {
                padding-bottom: 140px;
            }
        }

        .halloween-choose {
            margin: 221px auto 100px !important;

            h1 {
                position: absolute;
                top: -32px;
                margin: auto;
                width: 100%;
            }
        }

        .web-halloween {
            background-image: url(../images/avs-special-offer/web.png);
            width: 329px;
            height: 168px;
            position: absolute;
            top: -8px;
            right: 7%;
            z-index: 0;
        }

        .multimedia-header-halloween-mobile {
            display: none;
        }
    }
    
    @media (min-width: 1921px) {
        .multimedia-header-summer {
            background-position: 100%;
        }
    
        .back-summer-header {
            background-position: 100%;
        }
    
        .headerSpecialOfferSummer {
            background: linear-gradient(111.38deg, #27A9E1 -16.26%, #0194C0 41.72%, #024381 93.97%) !important;
            top: 0px !important;
        }
    
        .headerSpecialOffer {
            background: radial-gradient(117.07% 95.37% at 0% 46.77%, #4E6368 0%, #0A0F11 98.22%) !important;
        }
    }

    @media (max-width: 1500px) {
        .headerButton {
            margin: 6px 0 10px 0 !important;
        }
    }
    
    @media (max-width: 1289px) {
        .why-choose {
            background-image: none !important;
        }
    
        .text-header {
            margin: 0 !important;
        }

        .bodyGrab {
            font-size: 55px !important;
        }

        
        .special-offer .halloween-choose {
            .list-choose {
                top: 122px;
            }
        }

    }
    
    @media (max-width: 1024px) {
    
        .headerSpecialOffer {
            height: 700px !important;
        }
        .special-offer{
            .headerSpecialOfferHalloween {
                .content-header {
                    background-position-x: 0%, 100%, -15%, 115%;
                    padding-top: 0px;
        
                    .multimedia-header {
                        margin-left: 0px !important;
                        width: 43vw !important;
                        background-position-x: 0% !important;
                    }
                }
            }

            .logo-halloween-offer {
                width: 90px;
                height: 72px;
                background-size: 90px;
                top: -100px;
                right: 40%;
            }

            .text-header-halloween {
                background-image: url(../images/avs-special-offer/tablet-grab-up.svg), url(../images/avs-special-offer/tablet-grab-bottom.svg);
                width: 325px;
                margin: 0 0px 32px !important;

                .bodyGrab {
                    position: absolute;
                    margin-top: 0;
                    left: -55px;
                    font-size: 50px !important;
                }

                .precent-off, .text-off, .letter-off {
                    margin-top: 30px;
                }

                .precent-off {
                    font-size: 120px;
                    padding-bottom: 30px;
                }

                .textSpecial {
                    font-size: 30px !important;
                    padding-bottom: 15px;
                }

                .textMultiHeader-halloween, .textHeader-halloween {
                    font-size: 32px;
                }
            }

            .back-halloween-header {
                top: -94px;
                left: 127px;
                width: 217px;
                height: 110px;
                background-size: 217px;
            }

            .web-halloween {
                width: 217px;
                height: 110px;
                background-size: 217px;
                top: -8px;
                right: 7%;
            }

            .logo-halloween {
                width: 151px;
                height: 64px;
                background-size: 151px;
                top: -93px;
                left: 60px;
            }

            .ghost-one {
                bottom: 0;
                width: 103px;
                height: 100px;
                background-size: 100px;
                top: 530px;
                left: 50%;
            }

            .ghost-two {
                width: 68px;
                height: 95px;
                background-size: 64px;
                top: 180px;
                left: 0%;
                z-index: 3;
            }

            .ghost-three {
                width: 103px;
                height: 120px;
                background-size: 103px;
                z-index: 3;
                top: -25px;
            }

            .ghost-four {
                width: 90px;
                height: 94px;
                background-size: 90px;
                top: 262px;
                right: -32px;
            }

            .ghost-five {
                background-size: 82px;
                width: 85px;
                height: 96px;
                right: -113px;
            }

            .button-block {
                margin-right: 241px !important;
            }

            .halloweenWrapper {
                .bodyHeader-halloween {
                    margin-top: 41px;
                }

                .mainBodyTitle {
                    padding: 10px 0 25px;
                }

                .mainBodyComment {
                    padding-bottom: 25px;
                }

                .special-buttons {
                    padding-bottom: 57px;
                }
            }
        }

        .special-offer .violet {
            display: none;
        }

        .special-offer .blockButton {
            width: 0px !important;
        }
    
        .ListTitle {
            font-size: 16px !important;
        }
    
        .snowflakes-header {
            background-image: url(../images/avs-special-offer/snowflakes-tablet-special-offer.png) !important;
            top: 100px !important;
            right: 100px !important;
            background-size: auto !important;
            width: 100% !important;
            height: 581px !important;
        }
    
        .multimedia-header {
            background-image: url(../images/avs-special-offer/box-tablet-special-offer.png) !important;
            margin-top: -53px;
        }
    
        .multimedia-header-summer {
            top: 0 !important;
            left: 0 !important;
        }
    
        .back-summer-header {
            background-position-y: 100% !important;
        }
    
        .text-header-summer {
            margin-top: 100px;
        }
    
        .content-header {
            position: relative !important;
            padding-top: 30px;
        }
    
        .textHeader, .textHeader-summer {
            margin-left: 0 !important;
        }
    
        .text-header {
            margin-left: 0 !important;
            max-width: 500px;
        }
    
        .line-mobile {
            background-image: url(../images/avs-special-offer/line-tablet-offer.png) !important;
            height: 700px !important;
            width: 700px !important;
            right: 30px;
            top: 35px;
          }
    
        .logo-offer {
            background-size: 108px;
            background-repeat: no-repeat;
            top: 6px !important;
            left: -74px !important;
        }
    
        .logo-summer-offer {
            background-size: 108px;
            background-repeat: no-repeat;
            top: 43px !important;
            left: -74px !important;
        }
    
        .precent-off {
            margin-bottom: -20px !important;
            font-size: 130;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
        }
    
        .textSpecial {
            font-size: 26px !important;
            margin: 45px 0px 20px 44px !important;
        }
    
        .bodyGrab {
            font-size: 48px !important;
        }
    
        .full-pack {
            margin-bottom: 0 !important;
        }
    
        .mainHeaderComment {
            font-size: 10px !important;
            padding: 10px 0;
        }
    
        .textMultiHeader, .textMultiHeader-summer {
            font-size: 27px !important;
        }
    }

    
    @media (max-width: 768px) {

        .special-offer .headerSpecialOfferHalloween .content-header {
            background-position-x: 0%, 105%, -15%, 135%;
        } 
        .special-offer .web-halloween {
            right: 0%;
        }

        .special-offer .bodyWrapper {
            padding: 0 20px 50px;
        }

        .special-offer .tableProduct {
            padding: 0px;
        }

        .special-offer .halloweenWrapper .mainBodyComment {
            font-size: 18px;
        }

        .special-offer .halloweenWrapper .bodyHeader-halloween {
            font-size: 32px;
        }

        .special-offer .halloweenWrapper .mainBodyTitle {
            font-size: 22px;
        }

        .special-offer .text-header-halloween .headerButtonHalloween {
            bottom: -22px;
        }

        .special-offer .halloween-choose {
            margin: 100px auto 0px !important;
            h1 {
                font-size: 28px;
            }

            .list-choose {
                top: 60px !important;
            }
        }

        .choose-item {
            width: 112px !important;
            height: 100px !important;
            margin-top: 30px;
        }
    
        .icon-mobile {
            height: 60px !important;
        }
    
        .list-choose {
            margin-bottom: 50px;
            position: absolute;
            top: 100px !important;
        }
    
        .awards-text {
            font-size: 18px !important;
        }
    
        .why-choose {
            margin-bottom: 0 !important;
        }
    
        /*.textHeader {
            font-size: calc(1px + 5vw);
        }
    
        .precent-off {
            font-size: calc(100px + 5vw);
        }
    
        .text-off {
            font-size: calc(50px + 5vw);
        }*/

        .bodyGrab {
            font-size: 36px !important;
        }
    }
    
    @media (max-width: 500px) {

        .special-offer{
            .headerSpecialOfferHalloween {
                .content-header {
                    background-image: url(../images/avs-special-offer/bg-header-left.png), url(../images/avs-special-offer/bg-header-right.png);
                    background-position-x: -85%, 135%;
                    padding-top: 30px;
        
                    .multimedia-header {
                        width: 100vw !important;
                        background-position-x: 50% !important;
                    }
                }

                .text-header-halloween {
                    margin: auto !important;
                    background-image: url(../images/avs-special-offer/mobile-grab-up.svg), url(../images/avs-special-offer/mobile-grab-bottom.svg);
                    width: 295px;
                }

                .web-halloween {
                    width: 142px;
                    height: 73px;
                    background-size: 142px;
                    top: -10px;
                    right: 7%;
                }

                .bodyGrab {
                    font-size: 45px !important;
                }

                .headerButtonHalloween {
                    display: none;
                }

                .multimedia-header {
                    margin-top: -10px;
                }

                .bodyOff {
                    height: 140px;
                }

                .textSpecial {
                    padding-top: 20px;
                    margin: 75px 0 32px !important;
                }

                .text-grab {
                    margin-left: 0px !important;
                }

                .back-halloween-header {
                    background-image: none;
                }

                .textMultiHeader-halloween {
                    padding-bottom: 15px;
                }

                .logo-halloween-offer {
                    width: 63px;
                    height: 51px;
                    background-size: 63px;
                    top: -85px;
                }

                .logo-halloween {
                    width: 129px;
                    height: 55px;
                    background-size: 129px;
                    top: -38px;
                    left: 85px;
                }

                .ghost-one {
                    bottom: 0;
                    width: 75px;
                    height: 75px;
                    background-size: 72px;
                    top: 555px;
                    left: 10%;
                }
    
                .ghost-two {
                    top: 480px;
                    left: 80%;
                }
    
                .ghost-three {
                    width: 80px;
                    height: 96px;
                    background-size: 83px;
                    top: 400px;
                    left: 33%;
                }
    
                .ghost-four {
                    width: 90px;
                    height: 94px;
                    background-size: 90px;
                    top: 190px;
                    left: 0px;
                }
    
                .ghost-five {
                    background-size: 82px;
                    width: 85px;
                    height: 96px;
                    right: -50px;
                    top: 108px;
                }
            }

            .multimedia-header-halloween-mobile {
                display: block;
                background-image: url(../images/avs-special-offer/arrow-mobile.png);
                background-repeat: no-repeat;
                width: 100%;
                height: 30px;
                position: absolute;
                top: 640px;
                background-position-x: 50%;
            }

            .bodyHeader-halloween {
                font-size: 28px !important;
            }

            .halloween-choose {
                .whyHalloween {
                    padding: 0px;
                }
            }
        }
    
        .content-header {
            position: relative !important;
            display: block !important;
        }
    
        .line-mobile {
            background-image: url(../images/avs-special-offer/mobile-header.png) !important;
            height: 332px !important;
            width: 100% !important;
            background-repeat: no-repeat;
            position: absolute;
            background-position-x: 50%;
            top: 25px !important;
            right: 0 !important;
            background-size: 90% !important;
        }
    
        .text-header {
            margin-left: 0 !important;
            padding: 0 !important;
        }
    
        .text-grab {
            margin-left: 50px !important;
            margin-top: 40px;
        }
        .bodyHeader {
            font-size: 28px !important;
        }
    
        .headerButton {
            display: none !important;
        }
    
        .logo-offer {
            left: 0 !important;
            top: 3px !important;
        }
    
        .logo-summer-offer {
            left: 10px !important;
            top: -2px !important;
            background-size: 100px !important;
        }
    
        .text-off {
            font-size: 40px !important;
        }
    
        .letter-off {
            font-size: 23px !important;
        }
    
        .text-header-avs, .text-de-special {
            font-size: 18px !important;
        }
    
        .textMultiHeader, .textMultiHeader-summer {
            font-size: 24px !important;      
        }
    
        .textHeader, .textHeader-summer {
            font-size: 28px !important;
        }
    
        .headerButtonSummer {
            display: none !important;
        }
    
        .text-header-avs, .text-de-special {
            padding-right: 10px !important;
        }
    
        .textSpecial {
            margin-left: 119px !important;
            margin-bottom: 0 !important;
            font-size: 23px !important;
            margin-top: 41px !important;
        }
    
        .bodyGrab {
            font-size: 36px !important;
        }
    
        .mainBodyTitle {
            font-size: 16px !important;
        }
    
        .mainBodyComment {
            font-size: 13px !important;
        }
    
        .specialButton {
            margin: 20px 0 !important;
            display: table !important;
        }
    
        .special-buttons {
            margin: auto;
            display: table;
        }
    
        .blockButton {
            display: none !important;
        }
    
        .ListTitle {
            font-size: 15px !important;
            text-align: center;
        }
    
        .ListItem {
            font-size: 13px !important;
        }
    
        .headerSpecialOffer {
            height: 772px !important; 
        }
    
        .multimedia-header {
            height: 391px !important;
            background-image: url(../images/avs-special-offer/box-mobile-special-offer.png) !important;
            position: absolute !important;
            z-index: 2 !important;
            top: 400px !important;
            right: 0px !important;
            width: 367px !important;
        }
    
        .multimedia-header-summer {
            display: none;
        }
    
        .multimedia-header-summer-mobile {
            width: 100%;
            height: 400px;
            background-size: contain;
            background-image: url(../images/avs-special-offer/product-summer.png);
            z-index: 2;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    
        .text-header-summer {
            margin-top: 0px !important;
        }
    
        .precent-off {
            font-size: 90px !important;
            margin-top: 28px !important;
        }
    
        .bodyOff {
            margin-top: -52px !important;
            margin-left: 80px !important;
        }
    
        .snowflakes-header {
            background-image: url(../images/avs-special-offer/snowflakes-mobile-special-offer.png) !important;
            height: 399px !important;
            right: -55px !important;
            width: 483px !important;
            top: 375px !important;
        }
    
        .mainHeaderComment {
            font-size: 10px !important;
            text-transform: none !important;
            padding: 15px 0 !important;
        }
    
        .logo-offer {
            top: -41px !important;
        }
    
        .bodyHeader {
            padding: 0 16px;
        }
    
        .button-mobile {
            display: none !important;
        }
    
        .choose-item {
            width: 112px !important;
            padding: 0 !important;
            height: 100px !important;
        }
    
        .icon-mobile {
            height: 40px !important;
        }
    
        .list-choose {
            margin-bottom: 50px;
            position: absolute;
            top: 100px !important;
        }
    
        .awards-text {
            font-size: 13px !important;
        }
    
        .why-choose {
            margin-bottom: 0 !important;
        }
    }
    
    @media (max-width: 350px) {
        .multimedia-header {
            background-size: 80% !important;
            background-position-x: 75% !important;
        }
    
        .snowflakes-header {
            background-size: 90% !important;
            right: -110px !important;
        }
    }