.special-offer{
.headerSpecialOffer {
    height: 818px;
    position: relative;
}

.content-header {
    position: absolute;
    bottom: 0;
    display: flex;
    .snowflakes-header {
        height: 777px;
        width: 959px;
        position: absolute !important;
        top: -100px;
    }
    .multimedia-header {
        width: 862px;
        height: 710px;
    }

.text-header {
    h1 {
        background: linear-gradient(to bottom, #EA1313, #AF0B0E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EA1313;
      }
    
    .text-header-avs {
        font-size: 24px;
        text-transform: uppercase;
    }

    .bodyOff {
        position: relative;
        font-style: bolt;
        .text-off {
            font-size: 80px;
            position: absolute;
        }
        .letter-off {
            font-size: 46px;
            text-transform: uppercase;
            position: absolute;
            top: 37px;
            right: 123px;
        }
    }
    }
}
    .bodyWrapper{
        max-width: 1120px;
        margin:auto;
        padding: 0 20px;
        text-align: center;

        .backToHome{
            display:block;
            text-align: center;
        }

        h1 {
            background: linear-gradient(to bottom, #EA1313, #AF0B0E);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #EA1313;
          }
    }
    .yourSteps{
        padding-top: 24px;
        padding-bottom:140px;
    }

    .common__heading{
        padding-bottom:24px;
        padding-top: 64px;
    }

    .mainImage{
        margin: auto;
        display: block;
        padding-top:110px;
    }

    .text-red {
        background: linear-gradient(to bottom, #EA1313, #AF0B0E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #EA1313;
    }

    .text-line-through {
        text-decoration: line-through;
    }

    .ListTitle {
        padding-bottom: 16px;
    }

    .bodyHeader {
        margin-top: 90px;
    }

    .mainBodyTitle {
        padding: 8px 0;
    }

    .specialButton {
        margin: 54px 0;
    }

    .buttonsWrapper {
        padding-top: 44px !important;
    }

    .full-pack {
        margin-bottom: 150px;
    }
}

@media (max-width: 1050px) {

}