main {
    font-family: 'Open Sans',sans-serif,Arial;
    .common__heading{
        font-size: 44px;
        color:#333333;
        text-align: center;
        font-weight: 600;
    }

    .flagBackground{
        background-color: #FDA050;
        margin-left: 15px;
        padding: 4px 20px;
        font-size: 13px;
        position: relative;
        top: 0px;
        color: #fff;
        padding-right: 30px;

        &.header{
            padding-right: 17px;
            top: -16px;

            &:after{
                content: '';
                border: 10px solid transparent;
                border-left: 10px solid #FDA050;
                border-top: 10px solid #FDA050;
                position: absolute;
                top: 0;
                right: -13px;
            }

            &:before{
                content: '';
                border: 10px solid transparent;
                border-bottom: 10px solid #FDA050;
                border-left: 10px solid #FDA050;
                position: absolute;
                top: auto;
                right: -13px;
                bottom: 0;
            }

            &>div{
                content: '';
                border: 7px solid transparent;
                border-top: 7px solid #FB8A29;
                border-right: 7px solid #FB8A29;
                position: absolute;
                top: auto;
                left: 0;
                bottom: -14px;
            }
        }
    
        &:after{
            content: '';
            background-color: transparent;
            border: 13px solid transparent;
            border-right: 13px solid #fff;
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
        }
    }

    .headerBackgroundImage{
        width: 100%;
        min-width: 1920px;
        height: 100%;
        right:0;
        z-index: -1;
    }

    a{
        text-decoration:none;
        color:#1E72D2;

        &:hover{
            text-decoration: underline;
        }
    }

    .mobileFormWrapper{
        display: table;
        margin: auto;
        margin-top: 40px;
    }

    .getCouponButton.mobile{
        display: block;
        text-align: center;
    }

    .header{
        background-size: cover;
        width:100%;
        position:relative;

        .header__body{
            width:100%;
            max-width: 1400px;
            padding: 30px;
            margin: auto;
            box-sizing: border-box;
        }

        .header__background-gradient{
            background: rgb(0,0,0);
            background: -moz-linear-gradient(90deg, rgba(0,0,0,0.6446953781512605) 41%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.6446953781512605) 41%, rgba(255,255,255,0) 100%);
            background: linear-gradient(90deg, rgba(0,0,0,0.6446953781512605) 41%, rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
        }

        .header__heading{
            font-size: 65px;
            color: #fff;
            font-weight: 600;
        }

        .header__subtitle{
            font-size: 22px;
            max-width: 625px;
            color: #fff;
            font-weight: 300;
            padding-top: 30px;
            line-height: 1.8;
        }

        .header__body{
            padding-top: 170px;
            padding-bottom: 250px;
        }
    }

    .common-info-block{
        max-width:285px;
        padding:10px;
        padding-top:100px;
        position:relative;
        box-sizing: border-box;
        width: 24%;

        &:before{
            content: '';
            width:75px;
            height:75px;
            position: absolute;
            left:10px;
            top: 0;
            background-size: contain;
        }
    }

    .common-info-block__headline{
        color:#000000;
        font-size: 24px;
        padding-bottom: 20px;
        font-weight: 600;
    }

    .common-info-block__text{
        font-size: 18px;
        color:#555555;
    }

    .round-and-number{
        color:#4196D4;
        padding: 30px 0;
        padding-left: 50px;
        font-size: 56px;
        position: relative;
        font-weight: bold;
        z-index:1;

        &:before{
            content: '';
            position: absolute;
            width: 85px;
            height: 85px;
            border-radius: 50px;
            background-color: #FB8A29;
            left: 0;
            z-index: -1;
            opacity: 0.15;
        }
    }
}

@media (max-width: 750px){
    main{
        .flagBackground{

            &.header{
                display: table;
                position: relative;
                top: auto;
                margin: auto;
                width: auto;
                padding: 4px 30px;
                margin-bottom: 10px;
                border-radius: 15px;
                text-transform: uppercase;

                &:after{
                    display:none;
                }

                &:before{
                    display:none;
                }

                &>div{
                display:none;
                }
            }  
        }
    }
}

@media (max-width: 620px) {
    main{
        .common-info-block{
            max-width: 500px;
            width: 100%;
            margin: auto;
            margin-bottom: 30px;

            &:before{
                left:0;
                right:0;
                margin:auto;
            }
        }

        .common__heading{
            font-size: 24px;
            font-weight: bold;
        }

        .common-info-block__headline,
        .common-info-block__text{
            text-align: center;
        }

        .common-info-block__headline{
            font-size: 18px;
        }

        .common-info-block__text{
            font-size: 14px;
        }

        .header{

            .header__body{
                padding-left: 15px;
                padding-right: 15px;
            }

            .header__heading{
                font-size: 40px;
                text-align: center;
            }

            .header__subtitle{
                font-size: 16px;
                max-width: 500px;
                margin: auto;
                text-align: center;
            }
        }

        .round-and-number{
            max-width: 47px;
            padding: 20px;
            padding-left: 34px;
            font-size: 42px;

            &:before{
                width: 60px;
                height: 60px;
            }
        }
    }
}