.installed-video-converter-page{

    .header {
        background: linear-gradient(180deg, #FFFFFF 9.44%, rgba(250, 243, 232, 0.12) 77.19%), linear-gradient(255.16deg, #FFE1B4 2.02%, #FFE5BE 41.35%, #FED9F4 66.65%, #CCF9FF 98.61%);
        height: 779px;
    }

    .header_image {
        background-image: url(../images/installed-video-converter/installed-video-convetrer-back.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        background-color: transparent;
        background-position-x: 100%;
        height: 779px;
    }

    main .header .header__body{
        padding-bottom: 40px;
        padding-top: 80px;
        margin-left: 10%;
        width: 1170px;
        margin: auto;
        position: relative;
        z-index: 3;
    }

    .header__heading.installed{
        font-size: 44px;
        color: #000000;
        font-weight: 800;
        line-height: 60px;
        padding: 25px 0;
        max-width: 720px;
    }

    .installed_special_offer {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: #016FD0;
        letter-spacing: 0.05em;
        border: 2px solid #016FD0;
        box-sizing: border-box;
        border-radius: 7px;
        padding: 0 10px;
        display: inline-block;
    }

    .header__buy{
        background-color: #016FD0;
        color: #fff;
        text-decoration: none;
        padding: 12px 50px 12px;
        border-radius: 5px;
        letter-spacing: 1.5px;
        font-weight: 700;
        margin-top: 40px;

        .header__buy__now{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
        }

        a{
            text-decoration: none;
        }
    }

    .header__subtitle.installed {
        padding: 17px 0;
        font-size: 26px;
        font-weight: 600;
        max-width: 100%;
        color: #333333;
        margin-bottom: 15px;
        line-height: 39px;
        max-width: 700px;
    }

    .header__price {
        font-size: 28.91px;
        color: #818181;
        display: block;
        font-weight: 600;
        font-size: 34px;
        text-decoration: line-through;
    }

    .header__new__price{
        display: block;
        font-size: 82px;
        color: #000000;
        line-height: 73.93px;
        letter-spacing: 0.5%;
        font-weight: 700;
    }

    .header__price__block{
        margin-bottom: 20px;
        max-width: 550px;
    }

    .plus-header {
        display: inline-block;
        color: #016fd0;
    }

    main .common__heading {
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        color: #130d3d;
        line-height: 65px;
    }

    .installed-carousel {
        background: linear-gradient(360deg, #FFFFFF 11.27%, rgba(250, 243, 232, 0.12) 103.55%), linear-gradient(287.68deg, rgba(255, 249, 219, 0.7) -4.04%, rgba(254, 217, 239, 0.7) 47.63%, rgba(204, 243, 255, 0.7) 93.06%);
        margin-top: -50px;

        .title-image {
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            color: #130d3d;
            line-height:65px;
        }

        .description-image {
            color: #000000;
            line-height: 32px;
        }

        .slick-arrow {
            background-color: #E6F1FE;
        }
    }

    .benefitsCarousel{
        margin: auto;
        display: flex;
        max-width: 1170px;

        .active .carouselItem{
            padding: 238px 25px 62px;
        }

        .carouselItem{
            width: 227px;
            margin: 0 7px;
            transition: 0.3s;
            background-repeat: no-repeat;
            background-position: 50% 30%;
            background-color:#fff;
            height: 70px;
            padding: 208px 10px 32px;
            background-size: 95px;

            &.unlimited{
                background-image: url(../images/installed-video-converter/icon-no-restrictions.svg);
            }
            &.free{
                background-image: url(../images/installed-video-converter/icon-free-upgrades.svg);
            }
            &.noWatermark{
                background-image: url(../images/installed-video-converter/icon-no-watermark.svg);
            }
            &.package{
                background-image: url(../images/installed-video-converter/icon-pro-tools.svg);
            }
            &.secure{
                background-image: url(../images/installed-video-converter/icon-secure.svg);
            }


            p{
                text-align: center;
                margin: 0 auto;
                font-weight: 600;
                color: #000000;
                font-size: 21px;
            }  
        }
    }


    .body-company {
        background: #ffffff;
        padding: 80px 0;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
    }

    .resourcesTable {
        align-items: center;
        justify-content: center;
        padding: 100px 0 100px;
        background: linear-gradient(0deg, #FFFFFF -3.76%, rgba(250, 243, 232, 0.12) 92.07%), rgba(245, 240, 231, 0.4);
        margin: auto !important;
        display: table;
        margin-bottom: 40px;
        width: 100%;
    }

    .helpful{
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        color: #000000;
        line-height:65px;
        margin-bottom: 50px;
    }

    .helpful-block {
        height: 162px;
        width: 312px;
        background-color: #ffffff;
        border-radius: 28px;
        box-shadow: 0px 45px 49px rgb(209 153 9 / 13%);
        margin: 15px;
        padding: 29px;

        a{
            display: table;
            text-align: center;
        }  
    }

    .blue-bg-helpful {
        background-color: #C9E5FF;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 1;
        position: relative;
        margin: auto;
    }

    .knowledge{
        padding: 7px 0 0 0;
        display: flex;
        font-size: 17px;
        line-height: 22px;
        color: #393939;
        font-weight: 600;
        max-width: 1170px;
        margin: auto;
        a {
            margin: 0 auto;
            text-decoration: underline;
            margin-top: 27px;
        }  
}

    .knowledgeIcon{
        background-image: url(../images/installed-video-converter/knowledge-icon.svg);
        background-repeat: no-repeat;
        align-items: center;
        height: 73px;
        background-position: 50%;
        a{
            margin: 0;
            text-decoration: underline;
        }  
}

    .tipsIcon{
        background-image: url(../images/installed-video-converter/tips-tricks-icon.svg);
        background-repeat: no-repeat;
        align-items: center;
        height: 73px;
        background-position: 50%;
        a{
            margin: 0;
            text-decoration: underline;
        }  
}

    .questionIcon {
        background-image: url(../images/installed-video-converter/support-icon.svg);
        background-repeat: no-repeat;
        align-items: center;
        height: 73px;
        background-position: 50%;
    }
}

@media (max-width: 1689px) {
    .header_image {
        filter: opacity(0.3);
    }
}

@media (max-width: 1170px) {
    .installed-video-converter-page{
        .knowledge {
            display: table;
        }

        .helpful-block {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 768px) {
        .installed-video-converter-page{
            .benefitsCarousel {
                display: table;
            }

            .carouselItem {
                padding: 180px 10px 32px !important;
                height: 40px !important;
            }

            .header_image {
                background-position-x: -50% !important;
            }
    }
}

@media (max-width: 620px) {
    .header__heading {
        text-align: left !important;
    }

    .header__subtitle {
        text-align: left !important;
        margin: 0 !important; 
    }
}

