.register{
    .mobile-br{
        display: none;
    }
    .screen-wrapper{
        padding-top: 120px;

        &.first{
            padding-top:40px;
            padding-bottom:120px;
            background-color:#F9F9F9;
        }
    }

    .sale-text{
        display: table;
        margin: auto;
        margin-top: 20px;

        &>h1{
            color:#F67607;
            font-size:52px;
            font-weight: 600;
        }
    }

    .get-tools-text{
        color:#32393E;
        text-align:center;
        font-size: 24px;
        margin-top: 10px;
    }

    .product-boxes-image{
        max-width:912px;
        margin:auto;
        margin-top:40px;
    }

    .buy-block-wrapper{
        display: table;
        border-spacing: 90px 0px;
        max-width: 1130px;
        margin: auto;
        margin-top: 80px;

        .buy-block{
            display: inline-block;
            padding: 40px 0;
            background-color: #ffffff;
            box-shadow: 3px 3px 24px #e3e3e3;
            border-radius: 10px;
            min-width: 440px;    
            
            &.unlimited-block{
                padding: 0;
                margin-left: 65px;

                .unlimited-block-content{
                    border: 1px solid #FB8A29;
                    border-top: none;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding-top: 42px;
                    padding-bottom:40px;
                    
                }

                .popular-banner{
                    background-color: #FB8A29;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    

                    p{
                        font-size: 16px;
                        text-align: center;
                        color:#ffffff;
                    }
                }
            }
        }

        .subscription-time-text{
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .access-sub-text{
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .access-limit{
            text-align:center;
            background-color:#F9F9F9;
            padding: 16px;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .sub-now-text{
            font-size: 18px;
            color: #333333;
            text-align: center;
            font-weight: 600;
        }

        .price-block{
            background-color: #F9F9F9;
            margin: auto;
            margin-top: 16px;
            margin-bottom: 24px;
            box-sizing: border-box;
            text-align: center;
            display: block;
            max-width: 274px;
            padding: 16px 0px;
            border-radius: 10px;

            .prev-price-text{
                font-size: 16px;
                text-decoration: line-through;
                text-align: center;
                font-weight: 600;
                margin-top: 5px;
            }
    
            .current-price-text{
                font-size: 48px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 5px;
                color:#F59541;

                span{
                    font-size: 24px;
                    vertical-align: super;
                }
            }
        }

        .limited-offer-text{
            font-size: 16px;
            color: #555555;
            text-align: center;
            font-weight: 600;

            &.last{
                margin-bottom:25px;
            }
        }

        .buy-block-button{
            display: block;
            margin: auto;
            text-align: center;
            max-width: 170px;

            p{
                text-transform: uppercase;
            }
        }
    }

    .availableCarts{
        max-width: 470px;
        margin:auto;
        margin-top: 70px;
    }

    .why-choose-wrapper{
        display: table;
        max-width: 940px;
        width: 100%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 130px;
        border-spacing: 15px 0;

        .first-tr{
            .why-choose-item{
                padding-bottom: 80px;
            }
        }

        .why-choose-item{
            max-width: 165px;
            margin:auto;
            margin-top: 0;
            display: table-cell;
        }

        .icon{
            max-width: 86px;
            margin:auto;
            margin-bottom:10px;
            display: block;
        }

        .text{
            color:#000000;
            font-size: 24px;
            text-align:center;
            padding-top: 10px;
        }
    }

    .questions-wrapper{
        background-color: #F9F9F9;
        padding-top:110px;
        padding-bottom:130px;
        
    }

    .panelCollapse{
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #E4E4E4;

        &:first-child{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child{
            margin-bottom:0px;
            border:none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .questions-block{
        max-width: 944px;
        margin: auto;
        margin-top: 90px;
        box-shadow: 3px 3px 24px rgb(240, 240, 240);

        .panelName{
            padding: 30px 70px;
            padding-left: 40px;
            font-size: 20px;
            text-align: left;
            font-weight: 600;
            color:#000000;
            cursor: pointer;

            &:before{
                width: 16px;
                height: 24px;
                top: 34px;
                right: 25px;
            }
        }

        .collapseContent{
            padding: 35px 40px;
            padding-top: 0px;
        }

        .hiddenText{
            color:#666666;
            font-size: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .register { 
        .buy-block-wrapper{
            display:block;

            .buy-block{
                display: block;
                max-width: 600px;
                margin: auto;

                &.unlimited-block{
                    margin: auto; 
                }

                &:first-child{
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .register{ 
        .slick-slide{
            .imgLeft{
                padding-top:0;
            }
        }

        .sale-text > h1{
            font-size: 34px;
        }

        .buy-block-wrapper{
            grid-gap: 25px;
        }
    }
}

@media (max-width: 750px) {
    .register{ 
        .featuresItem{
            padding: 0 10px;
            box-sizing: border-box;
        }

        .common__heading{
            padding: 0 10px;
        }

        .screen-wrapper{
            padding: 10px;
            padding-top: 35px;

            &.first{
                padding-top:35px;
                padding-bottom:60px;
            }
        }

        .availableCarts{
            display:none;
        }

        .buy-block-wrapper .limited-offer-text{
            font-weight: 500;
        }

        .why-choose-wrapper{ 
            display: block;
            margin-top: 50px;
            margin-bottom: 0;

            tr{
                display: block;

                &.first-tr .why-choose-item{
                    padding-bottom: 60px;
                }
            }

            .why-choose-item{
                display: block;
                padding-bottom: 60px;
                max-width: 200px;
            }

            .text{
                font-size: 16px;
            }

            .icon{
                max-width: 80px;
            }
        }

        .questions-wrapper{
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .questions-block{
            margin-top:64px;

            .panelName{
                font-size: 18px;
                padding: 30px 43px;
                padding-left: 16px;

                &:before{
                    width: 16px;
                    height: 16px;
                    top: 36px;
                    right: 13px;
                }
            }

            .collapseContent{
                padding: 25px 16px;
                padding-top:0;
            }
        }

        .sale-text > h1{
            font-size: 36px;
            text-align: center;
            font-weight: 700;
        }

        .get-tools-text{
            font-size: 16px;
        }

        .buy-block-wrapper{
            margin-top:40px;

            .buy-block{
                min-width:0;
            }

            .current-price-text{
                font-size: 48px;
            }
    
            .subscription-time-text{
                font-size: 28px;
            }
    
            .prev-price-text,
            .limited-offer-text,
            .sub-now-text,
            .access-sub-text{
                font-size: 14px;
            }
        }

        .availableCarts{
            margin-top: 40px;
        }
    }
}

@media (max-width: 450px) {
    .register{
        .mobile-br{
            display: block;
        }
    }
}
