.register{
    .mobile-br{
        display: none;
    }
    .screen-wrapper{
        padding-top: 120px;

        &.first{
            position: relative;
            padding-top: 104px;
            padding-bottom: 118px;
            background: url(../images/register/halloween/register-pc-1.png) no-repeat top left -140px / 595px 496px,
                        url(../images/register/halloween/register-pc-2.png) no-repeat bottom left -62px / 620px 630px,
                        url(../images/register/halloween/register-pc-3.png) no-repeat top 169px right 49px / 346px 197px,
                        url(../images/register/halloween/register-pc-4.png) no-repeat bottom right / 744px 734px,
                        url(../images/register/halloween/register-pc-bg.jpg) repeat-x top center / auto 100%;
        }
    }

    .sale-text{
        display: table;
        margin: auto;

        &>h1{
            color:#F67607;
            font-size: 52px;
            line-height: 71px;
            font-weight: 700;
        }
    }

    .get-tools-text{
        color: #ffffff;
        text-align:center;
        font-size: 32px;
        line-height: 44px;
        font-weight: 600;
        margin-top: 22px;
    }

    .product-boxes-image{
        max-width:912px;
        margin:auto;
        margin-top:40px;
    }

    .buy-block-wrapper{
        display: table;
        border-spacing: 90px 0px;
        max-width: 1130px;
        margin: auto;
        margin-top: 80px;

        .buy-block{
            display: inline-block;
            padding: 40px 0;
            background-color: #ffffff;
            box-shadow: 3px 3px 24px #e3e3e3;
            border-radius: 10px;
            min-width: 440px;

            &.unlimited-block{
                padding: 0;
                margin-left: 65px;

                .unlimited-block-content{
                    border: 1px solid #FB8A29;
                    border-top: none;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding-top: 42px;
                    padding-bottom:40px;

                }

                .popular-banner{
                    background-color: #FB8A29;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    

                    p{
                        font-size: 16px;
                        text-align: center;
                        color:#ffffff;
                    }
                }
            }
        }

        .subscription-time-text{
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .access-sub-text{
            font-size: 18px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 25px;
        }

        .access-limit{
            text-align:center;
            background-color:#F9F9F9;
            padding: 16px;
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .sub-now-text{
            font-size: 18px;
            color: #333333;
            text-align: center;
            font-weight: 600;
        }

        .price-block{
            background-color: #F9F9F9;
            margin: auto;
            margin-top: 16px;
            margin-bottom: 24px;
            box-sizing: border-box;
            text-align: center;
            display: block;
            max-width: 274px;
            padding: 16px 0px;
            border-radius: 10px;

            .prev-price-text{
                font-size: 16px;
                text-decoration: line-through;
                text-align: center;
                font-weight: 600;
                margin-top: 5px;
            }

            .current-price-text{
                font-size: 48px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 5px;
                color:#F59541;

                span{
                    font-size: 24px;
                    vertical-align: super;
                }
            }
        }

        .limited-offer-text{
            font-size: 16px;
            color: #555555;
            text-align: center;
            font-weight: 600;

            &.last{
                margin-bottom:25px;
            }
        }

        .buy-block-button{
            display: block;
            margin: auto;
            text-align: center;
            max-width: 170px;

            p{
                text-transform: uppercase;
            }
        }
    }
    .availableCarts{
        max-width: 470px;
        margin:auto;
        margin-top: 70px;
    }

    .why-choose-wrapper{
        display: table;
        max-width: 940px;
        width: 100%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 130px;
        border-spacing: 15px 0;
        .first-tr{
            .why-choose-item{
                padding-bottom: 80px;
            }
        }
        .why-choose-item{
            max-width: 165px;
            margin:auto;
            margin-top: 0;
            display: table-cell;
        }
        .icon{
            max-width: 86px;
            margin:auto;
            margin-bottom:10px;
            display: block;
        }
        .text{
            color:#000000;
            font-size: 24px;
            text-align:center;
            padding-top: 10px;
        }
        #text_link{
                color:#1E72D2;
        }
    }
    .questions-wrapper{
        background-color: #F9F9F9;
        padding-top:110px;
        padding-bottom:130px;
        
    }
    .panelCollapse{
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #E4E4E4;
        &:first-child{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-child{
            margin-bottom:0px;
            border:none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .questions-block{
        max-width: 944px;
        margin: auto;
        margin-top: 90px;
        box-shadow: 3px 3px 24px rgb(240, 240, 240);
        .panelName{
            padding: 30px 70px;
            padding-left: 40px;
            font-size: 20px;
            text-align: left;
            font-weight: 600;
            color:#000000;
            cursor: pointer;
            &:before{
                width: 16px;
                height: 24px;
                top: 34px;
                right: 25px;
            }
        }
        .collapseContent{
            padding: 35px 40px;
            padding-top: 0px;
        }
        .hiddenText{
            color:#666666;
            font-size: 16px;
        }
    }
}

@media (max-width: 2000px) {
    .register{
        .screen-wrapper{
            &.first {
                background: url(../images/register/halloween/register-pc-1.png) no-repeat top left -118px / 454px 390px,
                            url(../images/register/halloween/register-pc-2.png) no-repeat bottom left -40px / 402px 409px,
                            url(../images/register/halloween/register-pc-3.png) no-repeat top 169px right 49px / 270px 153px,
                            url(../images/register/halloween/register-pc-4.png) no-repeat bottom right / 430px 436px,
                            url(../images/register/halloween/register-pc-bg.jpg) repeat-x top center / auto 100%;
            }
        }
    }
}

@media (max-width: 1480px) {
    .register{
        .screen-wrapper{
            &.first {
                background: url(../images/register/halloween/register-pc-1.png) no-repeat top left -118px / 367px 315px,
                            url(../images/register/halloween/register-pc-2.png) no-repeat bottom left -40px / 276px 280px,
                            url(../images/register/halloween/register-pc-3.png) no-repeat top 169px right 49px / 226px 129px,
                            url(../images/register/halloween/register-pc-4.png) no-repeat bottom right / 280px 276px,
                            url(../images/register/halloween/register-pc-bg.jpg) repeat-x top center / auto 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .register { 
        .screen-wrapper{
            &.first {
                padding-top: 53px;
                padding-bottom: 196px;
                background: url(../images/register/halloween/register-tablet-1.png) no-repeat top left / 225px 246px,
                            url(../images/register/halloween/register-tablet-2.png) no-repeat bottom left / 513px 773px,
                            url(../images/register/halloween/register-tablet-3.png) no-repeat top 178px right 11px / 152px 53px,
                            url(../images/register/halloween/register-tablet-4.png) no-repeat bottom right / 253px 357px,
                            url(../images/register/halloween/register-tablet-bg.jpg) repeat-x top center / auto 100%;
            }
        }

        .sale-text{
            text-align: center;

            & > h1 {
                font-size: 48px;
                line-height: 65px;
            }
        }

        .get-tools-text {
            margin-top: 16px;
            font-size: 22px;
            line-height: 30px;
        }

        .mobile-br {
            display: block;
        }

        .buy-block-wrapper {
            display:block;
            margin-top: 68px;
            gap: 28px;

            .buy-block{
                display: block;
                max-width: 600px;
                margin: auto;
                &.unlimited-block{
                    margin: auto; 
                }
                &:first-child{
                    margin-bottom: 40px;
                }
            }
        }

        .availableCarts {
            margin-top: 60px;
        }
    }
}

@media (max-width: 1100px) {
    .register{ 
        .buy-block-wrapper{
            .access-limit {
                padding: 17px 80px 14px;
            }
        }

        .slick-slide{
            .imgLeft{
                padding-top:0;
            }
        }
    }
}

@media (max-width: 750px) {
    .register{ 
        .featuresItem{
            padding: 0 10px;
            box-sizing: border-box;
        }

        .common__heading{
            padding: 0 10px;
        }

        .screen-wrapper {
            padding: 10px;
            padding-top: 35px;

            &.first{
                padding-top: 53px;
                padding-bottom: 190px;
                background: url(../images/register/halloween/register-mobile-1.png) no-repeat top left / 319px 912px,
                            url(../images/register/halloween/register-mobile-2.png) no-repeat bottom left / 167px 165px,
                            url(../images/register/halloween/register-mobile-3.png) no-repeat bottom right / 279px 314px,
                            url(../images/register/halloween/register-mobile-bg.jpg) repeat-x top center / auto 100%;
            }
        }

        .buy-block-wrapper {
            .limited-offer-text{
                font-weight: 500;
            }

            .access-limit {
                padding: 17px 16px 14px;
            }
        }

        .why-choose-wrapper{ 
            display: block;
            margin-top: 50px;
            margin-bottom: 0;

            tr{
                display: block;

                &.first-tr .why-choose-item{
                    padding-bottom: 60px;
                }
            }

            .why-choose-item{
                display: block;
                padding-bottom: 60px;
                max-width: 200px;
            }

            .text{
                font-size: 16px;
            }

            .text_link{
                font-size: 16px;
            }

            .icon{
                max-width: 80px;
            }
        }

        .questions-wrapper{
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .questions-block{
            margin-top:64px;

            .panelName{
                font-size: 18px;
                padding: 30px 43px;
                padding-left: 16px;

                &:before{
                    width: 16px;
                    height: 16px;
                    top: 36px;
                    right: 13px;
                }
            }

            .collapseContent{
                padding: 25px 16px;
                padding-top:0;
            }
        }

        .sale-text > h1{
            font-size: 30px;
            line-height: 41px;
            text-align: center;
            font-weight: 700;
        }

        .get-tools-text{
            line-height: 22px;
        }

        .buy-block-wrapper {
            grid-template-columns: initial;
            margin-top: 24px;
            padding: 0;

            .buy-block{
                padding: 24px 0;
            }

            .current-price-text{
                font-size: 48px;
            }
    
            .subscription-time-text{
                font-size: 28px;
                line-height: 38px;
            }

            .access-sub-text {
                margin-bottom: 13px;
                line-height: 22px;
            }

            .access-limit {
                margin-bottom: 32px;
                padding: 10px 8px 9px;
                font-size: 16px;
                line-height: 22px;
            }

            .sub-now-text {
                font-size: 20px;
                line-height: 28px;
            }

            .price-block {
                padding: 16px 0 15px;
                margin: 12px auto 32px;

                .prev-price-text {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                }

                .current-price-text {
                    font-size: 40px;
                    line-height: 54px;
                    font-weight: 400;
                }
            }

            .limited-offer-text {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;

                &.last {
                    margin-bottom: 40px;
                }
            }

            .buy-block-button {
                max-width: 202px;

                p {
                    font-weight: 600;
                }
            }
        }

        .availableCarts{
            margin-top: 40px;
        }
    }
}

@media (max-width: 450px) {
    .register{
        .mobile-br{
            display: block;
        }
    }
}
