.register{
    .screen-wrapper{
        padding: 40px;
    }

    .limited-offer{
        border: 1px solid #157BF2;
        display: table;
        margin: auto;
        padding: 10px 20px;
        border-radius: 5px;

        &>p{
            color:#157BF2;
        }
    }

    .sale-text{
        display: table;
        margin: auto;
        margin-top: 20px;

        &>h1{
            color:#FF0C3E;
            font-size:48px;
            font-weight: bold;

            span{
                color:#157BF2;
            }
        }
    }

    .get-tools-text{
        color:#32393E;
        text-align:center;
        font-size: 24px;
        margin-top: 10px;
    }

    .featuresWrapper{
        display: grid;
        max-width: 700px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px;

        .featuresItem{
            p{
                text-align: center;
            }
            .image{   
                max-width: 64px;
                margin: auto;
                margin-bottom: 10px;
            }
        }
    }

    .product-boxes-image{
        max-width:912px;
        margin:auto;
        margin-top:40px;
    }

    .buy-block-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 80px;
        max-width: 960px;
        margin: auto;
        margin-top: 80px;

        .buy-block{
            padding:40px;
            background-color: #ffffff;
            box-shadow: 3px 3px 24px #00000029;
            border-radius: 10px;
        }

        .subscription-time-text{
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }

        .access-sub-text{
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        .sub-now-text{
            font-size: 16px;
            color: #555555;
            text-align: center;
        }

        .prev-price-text{
            font-size: 16px;
            text-decoration: line-through;
            text-align: center;
            font-weight: 600;
            margin-top: 5px;
        }

        .current-price-text{
            font-size: 56px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 5px;
        }

        .limited-offer-text{
            font-size: 16px;
            color: #555555;
            text-align: center;
        }

        .buy-block-button{
            display: table;
            margin: auto;
            margin-top: 25px;
        }
    }

    .availableCarts{
        max-width:535px;
        margin:auto;
        margin-top: 70px;
        margin-bottom: 100px;
    }

    .why-choose-wrapper{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 1350px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 130px;

        .why-choose-item{
            max-width: 165px;
            margin:auto;
            margin-top: 0;
        }

        .icon{
            max-width: 86px;
            margin:auto;
            margin-bottom:10px;
        }

        .text{
            color:#000000;
            font-size: 24px;
            text-align:center;
            padding-top: 10px;
        }
    }

    .programs-slider-wrapper{
        max-width: 1350px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;

        .slick-dots{
            bottom: -50px;
        }
    }

    .trademark-wrapper{
        max-width: 1350px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 50px;

        .trademark-text{
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 1100px) {
    .register{ 
        .slick-slide{
            .imgLeft{
                padding-top:0;
            }
        }

        .sale-text > h1{
            font-size: 34px;
        }

        .limited-offer{
            padding: 7px 16px;
        }

        .buy-block-wrapper{
            grid-gap: 25px;
        }

        .why-choose-wrapper{ 
            display: flex;
            flex-wrap: wrap;

            .why-choose-item{
                width: 45%;
                max-width: 200px;
                margin-bottom: 50px;
                padding: 0 20px;
                box-sizing: border-box;
            }
        }
    }
}

@media (max-width: 750px) {
    .register{ 
        .featuresItem{
            padding: 0 10px;
            box-sizing: border-box;
        }

        .screen-wrapper{
            padding: 10px;
            padding-top: 35px;
        }

        .sale-text > h1{
            font-size: 28px;
            text-align: center;

            span{
                display:block;
            }
        }

        .get-tools-text{
            font-size: 20px;
        }

        .featuresWrapper .featuresItem {
            .image{
                max-width: 44px;
            }

            p{
                font-size: 14px;
            }
        }

        .buy-block-wrapper{
            grid-template-columns: 1fr;

            .current-price-text{
                font-size: 48px;
            }
    
            .subscription-time-text{
                font-size: 28px;
            }
    
            .prev-price-text,
            .limited-offer-text,
            .sub-now-text,
            .access-sub-text{
                font-size: 14px;
            }
        }

        .availableCarts{
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .why-choose-wrapper {
            margin-bottom: 55px;

            .text{
                font-size: 16px;
            }

            .icon{
                max-width: 80px;
            }
        }

        .trademark-wrapper .trademark-text{
            font-size: 16px;
        }
    }
}

@media (max-width: 460px) {
    .register{ 
        .why-choose-wrapper {
            margin-top: 56px;
            margin-bottom: 35px;

            .why-choose-item{
                max-width:none;
                width: 100%;
            }

            .text{
                font-size: 16px;
            }

            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr;

            .icon{
                max-width: 60px;
            }
        }
    }
}
